Repository Praveenskg/smart-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit

fix: resolve eslint configuration and add missing dependencies
  public/sitemap-0.xml
Due: none

fix: add ESLint disable comment for triple-slash reference
  next-env.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix: remove .eslintignore and fix ESLint configuration
  .eslintignore
  public/sitemap-0.xml
Due: none

fix: disable triple-slash reference rule for next-env.d.ts
  eslint.config.mjs
  next-env.d.ts
  public/sitemap-0.xml
Due: eslint --fix, prettier --write, tsc --noEmit

feat: implement comprehensive CI/CD pipeline with industry-level workflows
  .github/README.md
  .github/workflows/build.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/status.yml
  .github/workflows/test.yml
  .husky/pre-push
  .lighthouserc.json
  .lintstagedrc.json
  package.json
  public/sitemap-0.xml
Due: prettier --write

feat: rebrand to ToolifyLab - Professional Tool Laboratory
  .github/workflows/build.yml
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/status.yml
  .github/workflows/test.yml
  BRAND.md
  README.md
  package.json
  public/sitemap-0.xml
  src/app/layout.tsx
  src/app/manifest.json
  src/components/homepage/HeroSection.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

chore: remove test suite and all testing components
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .husky/pre-push
  README-HUSKY.md
  __tests__/example.test.tsx
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  public/sitemap-0.xml
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit

perf: remove redundant build steps from git hooks
  .github/README.md
  .github/auto_assign.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/status.yml
  .husky/pre-commit
  .husky/pre-push
  README-HUSKY.md
  public/sitemap-0.xml
Due: prettier --write

chore: remove commitlint and simplify git hooks
  .commitlintrc.js
  .husky/commit-msg
  .husky/pre-commit
  README-HUSKY.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

style: improve husky hooks consistency and remove deprecation warnings
  .husky/pre-push
Due: none

chore: update dependencies to latest stable versions
  package-lock.json
  package.json
Due: prettier --write

style: remove all emojis from CI workflow
  .github/workflows/ci.yml
  public/sitemap-0.xml
Due: none

chore: remove unused npm scripts from package.json
  README-HUSKY.md
  package.json
Due: prettier --write

feat: complete rebrand to ToolifyLab throughout entire project
  README-HUSKY.md
  README.md
  src/app/area-calculator/page.tsx
  src/app/bmi-calculator/page.tsx
  src/app/currency-converter/page.tsx
  src/app/dob-calculator/page.tsx
  src/app/emi-calculator/page.tsx
  src/app/invoice-generator/page.tsx
  src/app/layout.tsx
  src/app/password-generator/page.tsx
  src/app/percentage-calculator/page.tsx
  src/app/prompt-generator/page.tsx
  src/app/qr-code-generator/page.tsx
  src/components/InstallBanner.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/loading.tsx
  src/components/tools/credit-card-emi-calculator.tsx
  src/components/tools/emi-calculator.tsx
  src/components/tools/goal-tracker.tsx
  src/components/tools/todo-list.tsx
  src/hooks/use-dynamic-title.ts
  src/hooks/use-seo.ts
Due: eslint --fix, prettier --write, tsc --noEmit

feat: add Code of Conduct, Contributing Guide, and License files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat: enhance issue reporting with new templates and guidelines
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/security.yml
  CONTRIBUTING.md
Due: prettier --write

doc: remove unwanted readme
  .github/ISSUE_TEMPLATE/config.yml
  BRAND.md
  README-HUSKY.md
Due: prettier --write

Delete .github/README.md
  .github/README.md
Due: prettier --write

Delete .github/README.md (#77)
  .github/README.md
Due: prettier --write

refactor: code formatted
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/workflows/ci.yml
Due: none

chore: enhance pre-commit hook for better formatting and linting
  .husky/pre-commit
Due: none

chore: add format check to pre-push hook and update step numbering
  .husky/pre-push
  package.json
Due: prettier --write

✨ Major UI/UX Improvements & Enhanced Responsiveness
  src/components/footer.tsx
  src/components/header.tsx
  src/components/homepage/HeroSection.tsx
  src/components/homepage/ToolGrid.tsx
  src/components/homepage/ToolSearch.tsx
  src/components/tools/bmi-calculator.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

✨ Refactor UI Components for Consistency and Clarity
  src/components/footer.tsx
  src/components/header.tsx
  src/components/homepage/HeroSection.tsx
  src/components/homepage/ToolGrid.tsx
  src/components/homepage/ToolSearch.tsx
  src/components/tools/bmi-calculator.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

test commit
  test-commit.txt
Due: none

cleanup test file
  test-commit.txt
Due: none

🎨 Remove hover line effect from tool cards
  src/components/homepage/ToolGrid.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

✨ Replace search input with shadcn InputGroup component
  src/components/homepage/ToolSearch.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

🎨 Create professional UI/UX with advanced animations
  package-lock.json
  package.json
  src/app/globals.css
  src/components/footer.tsx
  src/components/header.tsx
  src/components/homepage/HeroSection.tsx
  src/components/homepage/ToolGrid.tsx
  src/components/homepage/ToolSearch.tsx
  src/components/tools/bmi-calculator.tsx
  src/components/ui/button.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/loading.tsx
  src/components/ui/skeleton.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

test husky
  package-lock.json
  package.json
  src/app/globals.css
  src/components/homepage/HeroSection.tsx
  src/components/homepage/ToolGrid.tsx
  src/components/homepage/ToolSearch.tsx
  src/components/ui/loading.tsx
  src/components/ui/skeleton.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Update dependencies and enhance UI components
  package-lock.json
  src/components/homepage/ToolGrid.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

🎨 Standardize tool card styling - remove popular tool special effects
  src/components/homepage/ToolGrid.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

🎨 Standardize tool card styling - remove popular tool special effects (#78)
  package-lock.json
  package.json
  src/app/globals.css
  src/components/footer.tsx
  src/components/header.tsx
  src/components/homepage/HeroSection.tsx
  src/components/homepage/ToolGrid.tsx
  src/components/homepage/ToolSearch.tsx
  src/components/tools/bmi-calculator.tsx
  src/components/ui/button.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/loading.tsx
  src/components/ui/skeleton.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix ESLint configuration and Next.js Turbopack issues
  .husky/pre-commit
  eslint.config.mjs
  next-env.d.ts
  next.config.ts
  package-lock.json
  public/sitemap-0.xml
  src/components/tools/qr-code-generator.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,html})
  tsc --noEmit: any of: *.{ts,tsx}
